* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
     color: inherit;
}
a:hover {
    color:#d4d4dc
}

a:focus {
    /*text-decoration: underline;*/
}

button:hover {
    color:#d4d4dc;
    background-color: rgba(35, 86, 75,1.0);
}
h2 {
    font-family:'Roboto', sans-serif;
    font-weight: 100;
    font-weight: bold;

}

h3 {
    font-family:'Roboto', sans-serif;
    font-weight: 100;
    font-weight: bold;
}

h5 {
    font-family:'Roboto', sans-serif;
    font-weight: 100;
}
.pure-img-responsive {  
    max-width: 100%;
    height: auto;
}


.title {
    font-family:'Roboto', sans-serif;
    text-align: center;
    font-size: 2.0em;
    font-weight: 250;
    text-transform: uppercase;
    margin-top: 2px;
    border:5px solid rgba(35, 86, 75,0.4);
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    background-color: rgba(76, 182, 159,1.0);
    color :rgb(29, 30, 34);
}

   
.post {
    padding: 2% 5% 2%;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    width:100%;
    height:80%;
    margin-left:6%;
    background: rgba(255, 255, 255, 0.9);

}
.post-title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    color: #000;
    /*margin-bottom: 0.2em;*/
    font-weight: 250;
    text-align: center
    }
.post-avatar {
    border-radius: 50%;
    float: center;
    margin: 20% 20% 0;
    }
.post-description {
    font-family:'Roboto', sans-serif;
    color: #000;
    font-size: 1.2em;
    line-height: 1.0em;
    margin-top: 1em;
    color:#d4d4dc;

    /*text-align: center*/
}
.post-description input{
    font-family: 'Roboto',sans-serif;
    font-size: 0.9em;
    margin-bottom: 10px;
}


.img_container {
    max-width: 50%;
    height: 100%;
    float: left;
    color:#000000 ;
    text-align: center;
}
.img_container img{
    transform:scale(0.6);
    float: left;
}

.result{
    font-family: 'Roboto',sans-serif;
    font-size: 0.9em;
    margin-bottom: 10px;
    color:#000000;
}

.alert-message{
    font-family:'Roboto', sans-serif;
    font-size: 1.0em;
    color: #FF0000;
    float: left;
    padding: 2% 10% 2%;
}

.press {
    padding: 5px 7px 5px 7px;
    text-align: center;
    text-decoration: none;
    font-size: 1.0em;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    background-color: rgba(76, 182, 159,1.0);
    color :rgb(29, 30, 34);
    border:2px solid rgba(35, 86, 75,1.0)
}


.leftpane {
    padding: 1% 3% 2%;
    width: 49%;
    min-height: 400px;
    float: left;
    background-color: rgba(29, 30, 34,0.9);
    border-collapse: collapse;
    border:5px solid rgba(29, 30, 34,0.9);
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.rightpane {
    padding: 1% 3% 2%;
    width: 49%;
    min-height: 400px;
    float: right;
    background-color: rgba(29, 30, 34,0.9);
    border-collapse: collapse;
    border:5px solid rgba(29, 30, 34,0.9);
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.wholepane {
    /*padding: 1% 3% 2%;*/
    width: 100%;
    height: 50%;
    float: left;
    background-color: rgba(255, 255, 255,1.0);
    border-collapse: collapse;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}